body {
margin:0;
font-family: 'PT Sans', sans-serif;
font-size: 14px;
line-height: 21px;
color: rgb(0, 0, 0);
text-transform:uppercase;
background-color: #f2f2f2;
text-align: center;
}

a {
text-decoration: none;
color: black;
}

header .main-header {
background-color: #fff;
}

.site-navigation a {
color: rgb(0, 0, 0);
font-weight: bold;
line-height: 26px;
text-align: center;
}

.visually-hidden {
  display: none;

}

.advantages-title {
font-size: 21px;
color: rgb(0, 0, 0);
font-weight: bold;
line-height: 26px;
background-color: #ffffff;
}

.advantages-subtitle {
line-height: 26px;
text-align: center;
background-color: #ffffff;
 }

.blue-box {
color:#fff;
background-color: #81b3d2;
}

.advice-box {
color: #000;
background-color: #fff;
}

.grey-box {
background-color: #eeeeee;
color:#000;
}

.advice-title {
font-size: 21px;
line-height: 26px;
font-weight: bold;
}

p .advice {
line-height: 26px
}

.interest {
background-color: #ffffff;
}

.interest-question {
line-height: 30px;
font-size: 23px;

}

.search-button {
background-color: #766357;
color: #fff;
}

.specify-date p {
font-family: inherit;
font-weight: bold;
}

.to-find-button {
color:#fff;
background-color: #81b3d2;
}

.result-list {
background-color: #ffffff;
}

h2 .housing-title {
font-size: 21px;
line-height: 26px;
}

a.button-more {
background-color: #81b3d2;
font-weight: bold;
padding: 5px; /*просто смотрю*/
}

a.button-to-book {
background-color: #766357;
font-weight: bold;
padding: 5px;
}

.social-button {
background-color: #81b3d2;
}

.button {
font:inherit;
text-align: center;
color: #fff;
}

button {
text-transform: uppercase;
border: none;
}

.blue-hover:hover {
color: #81b3d2;
}

.button-to-book:hover,
.search-button:hover {
background-color: #604e43;
}

.button-more:hover,
.to-find-button:hover,
.social-button:hover {
background-color: #669ec0;
}

.button-more:active,
.to-find-button:active,
.social-button:active {
background-color: #669ec0;
color:#88b6d1;
}

.button-to-book:active,
.search-button:active {
background-color: #503e33;
  color: #857871;
}

.site-navigation a:active,
.housing-title a:active,
.html-button:active {
color:#b2b2b2;
}

.sorting-result-item:active {
color:#000;
}

p.rating {
background-color: #f2f2f2;
color:#666666;
}

ul {
list-style: none;
}

.footer-hashtag {
font-weight: bold;
}

.specify-date input {
background-color: #ebebeb;
border: none;
font-weight: bold;
font-size: 14px;
line-height: 26px;
}

.specify-date input:focus {
background-color: #fff;
}

.search-button,
.to-find-button {
font-family:inherit;
font-size: 21px;
line-height: 26px;
font-weight: bold;
padding: 5px;
}

.footer-copyright {
line-height: 30px;
font-weight: lighter;
}

.hero {
position: relative;
width: 100%;
height:  800px;
}

.welcome-pic {
padding-top: 76px;
position: absolute;
width: 459px;
height: 353px;

}

/*-- wer--------- -->*/

body > * {
width: 1200px;
margin: 0 auto;
padding; 0;
}

* {
box-sizing: border-box;
}

.site-navigation li {
display: flex;
width: 20%;
background-color: #fff;
flex-grow: 1;
justify-content:center;
height: 60px;
}

.site-navigation a {
display: flex;
height: 100%;
align-items: center;
box-sizing: border-box;
justify-content:center;
flex-grow: 1;
}

ul.site-navigation {
display: flex;
padding: 0;
margin: 0 auto;
}

.logo {
width:140px;
height:72px;
z-index: 1;
}

.main div {
display: flex;
justify-content: center;
}

.advantages {
display: flex;
flex-direction: column;
justify-content: center;
box-sizing: border-box;
background-color: #fff;
}

.advantages-title {
height: 50px;
margin: 0 auto 36px;
padding: 0 auto;
width: 100%;
justify-content: center;
}

.advantages-subtitle {
margin-bottom: 55px;
}

.advantages-list {
display:flex;
margin: 0 auto;
padding:0;
width: 100%;
flex-wrap: wrap;
}

.blue-box {
display: flex;
width: 400px;
height: 250px;
flex-direction: column;
justify-content: center;
}

.img1,
.img2 {
height: 250px;
width: 800px;
padding: 0;
margin: 0;
}

.advice-box {
display: flex;
padding: 0;
}

.advice-item {
display: flex;
width: 400px;
height: 330px;
flex-direction: column;
justify-content:  center;
}

.grey-box {
display: flex;
width: 400px;
height: 255px;
flex-direction: column;
justify-content: center;
}

.interest-specify-date {
margin-bottom: 50px;
}

.search-button {
 width: 570px;
 height: 60px;
}

.specify-date {
max-width: 460px;

display: flex;
flex-wrap: wrap;
margin: 0 auto;
flex-grow: 1;
border: 1px dashed #dda;

}

.specify-date-in label,
.specify-date-out label {
  display: flex;
  max-width: 460px;
  border: 1px solid #dda;
  align-items: center;

}
.to-find-button {
  width: 460px;
  height: 60px;
}

.main-footer {
  display: flex;
  margin: 10px auto 0;
  justify-content: space-around;
  align-items: baseline;
  border: 1px dotted #bab;

}

.footer-social ul {
  display: flex;
 align-items: baseline;
 justify-content: center;
 margin: 0 auto;
 padding: 0;
}

.html-button {
  width: 110px;
  height: 40px;
  margin-left: 5px;
}
.footer-copyright {
display: flex;
}

.found-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

}

.result-settings {
  width: 1055px;
  display: flex;
  height: 85px;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 75px;
}

.main-sorting-result {
  display: flex;
  justify-content:space-between;
  align-items: baseline;
  margin-left: -20%;

}

.sorting-result,
.sorting-result-list {
 font-size: 12px;
 line-height: 18px;
 display: flex;
}

.result-list {
  width: 1055px;
  margin-left: 75px;

}

.flex {
  display: flex;
  margin: 10px;
  padding: auto;
}

 .flex-pack {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 0;
   flex-grow: 1;
   flex-wrap: wrap;
 }

}
/
/
/
/
/
/
//
/
/
/
/
/
/
/
/
/
