body {
margin:0;
font-family: 'PT Sans', sans-serif;
font-size: 14px;
line-height: 21px;
color: rgb(0, 0, 0);
text-transform:uppercase;
background-color: #f2f2f2;
text-align: center;
}

a {
text-decoration: none;
color: black;
}

header .main-header {
background-color: #fff;
}

.site-navigation a {
color: rgb(0, 0, 0);
font-weight: bold;
line-height: 26px;
text-align: center;
}

.visually-hidden {
  display: none;

}

.advantages-title {
font-size: 21px;
color: rgb(0, 0, 0);
font-weight: bold;
line-height: 26px;
background-color: #ffffff;
}

.advantages-subtitle {
line-height: 26px;
text-align: center;
background-color: #ffffff;
 }

.blue-box {
color:#fff;
background-color: #81b3d2;
}

.advice-box {
color: #000;
background-color: #fff;
}

.grey-box {
background-color: #eeeeee;
color:#000;
}

.advice-title {
font-size: 21px;
line-height: 26px;
font-weight: bold;
}

p .advice {
line-height: 26px
}

.interest {
background-color: #ffffff;
}

.interest-question {
line-height: 30px;
font-size: 23px;

}

.search-button {
background-color: #766357;
color: #fff;
}

.specify-date p {
font-family: inherit;
font-weight: bold;
}

.to-find-button {
color:#fff;
background-color: #81b3d2;
}

.result-list {
background-color: #ffffff;
}

h2 .housing-title {
font-size: 21px;
line-height: 26px;
}

a.button-more {
background-color: #81b3d2;
font-weight: bold;
padding: 5px; /*просто смотрю*/
}

a.button-to-book {
background-color: #766357;
font-weight: bold;
padding: 5px;
}

.social-button {
background-color: #81b3d2;
}

.button {
font:inherit;
text-align: center;
color: #fff;
}

button {
text-transform: uppercase;
border: none;
}

.blue-hover:hover {
color: #81b3d2;
}

.button-to-book:hover,
.search-button:hover {
background-color: #604e43;
}

.button-more:hover,
.to-find-button:hover,
.social-button:hover {
background-color: #669ec0;
}

.button-more:active,
.to-find-button:active,
.social-button:active {
background-color: #669ec0;
color:#88b6d1;
}

.button-to-book:active,
.search-button:active {
background-color: #503e33;
  color: #857871;
}

.site-navigation a:active,
.housing-title a:active,
.html-button:active {
color:#b2b2b2;
}

.sorting-result-item:active {
color:#000;
}

p.rating {
background-color: #f2f2f2;
color:#666666;
}

ul {
list-style: none;
}

.footer-hashtag {
font-weight: bold;
}

.specify-date input {
background-color: #ebebeb;
border: none;
font-weight: bold;
font-size: 14px;
line-height: 26px;
}

.specify-date input:focus {
background-color: #fff;
}

.search-button,
.to-find-button {
font-family:inherit;
font-size: 21px;
line-height: 26px;
font-weight: bold;
padding: 5px;
}

.footer-copyright {
line-height: 30px;
font-weight: lighter;
}

.hero {
display: flex;
position: relative;
width: 1200px;
height:  800px;
}

.welcome-pic {
display: flex;
position: absolute;
width: 459px;
height: 353px;
}

/*-- wer--------- -->*/


body > * {
  background-color: rgba(255, 0, 0, 0.3);
}

.main-header {
display: flex;
width: 1200px;
margin-top: 0;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}

.site-navigation li {
display: flex;
height: 60px;
width: 240px;
align-items: center;
justify-content:center;
background-color: #fff;
box-sizing: border-box;
}

ul.site-navigation {
display: flex;
width: 1200px;
flex-direction: row;
margin: 0 auto;
box-sizing: border-box;
}

.main div {
display:flex;
width: 1200px;
flex-direction: row;
justify-content: center;
margin: 0 auto;
}
